<!DOCTYPE html>
<html>

<head>
  <title>Empath</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>

<% if user_signed_in? %>
  <div class="overlayer"><!-- Navigation bar -->
  <div class="background-image">
    <header id="main_navigation" class="clearfix">
      <%= link_to "Nuke", user_path(1), class: "name" %>
      <nav id="main_nav">
        <%= link_to "Profile", user_path(1), class: "cool-link" %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      </nav>
    </header>
    <p class="slogan slogan_padding"></p>
  </div>
</div><!-- End of Navigation Bar-->
<% end %>
  <% if alert %>
  <div id="notice_wrapper">
    <p class="alert"><%= alert %></p>
  </div>
  <% elsif notice %>
  <div id="notice_wrapper">
    <p class="notice"><%= notice %></p>
  </div>
  <% end %>
  <%= yield %>
</body>
</html>
