<!DOCTYPE html>
<html>
<head>
  <title>AngelhackDbc</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='content-container'>
    <p class="notification" id="notice"><%= notice %></p>
    <p class="notification" id="alert"><%= alert %></p>
  </div>
<%= yield %>

</body>
</html>
