<!DOCTYPE html>
<html>

<head>
  <title>Empath</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body>

<% if user_signed_in? %>
  <div class="overlayer"><!-- Navigation bar -->
  <div class="background-image">
    <header id="main_navigation" class="clearfix">
      <%= link_to "Nuke", user_path, class: "name" %>
      <nav id="main_nav">
        <%= link_to "Profile", user_path, class: "cool-link" %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      </nav>
    </header>
    <p class="slogan slogan_padding"></p>
  </div>
</div><!-- End of Navigation Bar-->
<% end %>

  <div id='content-container'>
    <p class="notification" id="notice"><%= notice %></p>
    <p class="notification" id="alert"><%= alert %></p>
  </div>

  <% if notice %>
  <p class="notice"><%= notice %></p>
  <% elsif alert %>
  <p class="alert"><%= alert %></p>
  <% end %>
  <%= yield %>
</body>
</html>
